<h1><%= t('search.task_search') %></h1>

<ul>
  <% @tasks.each do |t| %>
      <li>
        <h3>
          <%= link_to t.title, controller: "tasks", action: "show", id: t._id %>
        </h3>
      </li>
  <% end %>
</ul>