<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @task.text %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @task.rating %>
</p>
<%= link_to 'Back', tasks_path %>