@import "bootstrap";

html {
  overflow-y: scroll;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.margeright{
  margin-left: 7%;
  margin-bottom: 2%;
}

.margin-left{
  margin-left: 10%;
  margin-bottom: 2%;
}

.margeleft{
  margin-right: 4%;
  margin-bottom: 2%;
}
.margeleftinconfirmation{
  margin-right: 3%;
  margin-bottom: 1%;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;

}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: royalblue;
}


.input_search{
  line-height: 100%;
}

.dropdown-toggle {
  overflow: hidden;
  text-align: left;
}

.form-control{
  margin-bottom: 5px;
}


.remove_field{
  margin-bottom: 5px;
}